d>
    <title>list</title>
      </head>
        <body>
              <br>
                  <span align="center"><h1>게시판</h1></span>
                      <table border="1" align="center">
                              <tr>
                                        <th>번호</th>
                                                <th>제목</th>
                                                        <th>내용</th>
                                                                <th>작성자</th>
                                                                        <th>날짜</th>
                                                                                <th>조회수</th>
                                                                                      </tr>
                                                                                          <tr>
                                                                                                  <td></td>
                                                                                                        <td></td>
                                                                                                              <td></td>
                                                                                                                    <td></td>
                                                                                                                          <td></td>
                                                                                                                                <td></td>
                                                                                                                                    </tr>  

                                                                                                                                        </table>
                                                                                                                                            <span align="center"><h2><a href="/">글작성</a></h2></span>
                                                                                                                                              </body>
                                                                                                                                              </html>

