<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>logthink</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600">
    </head>
    <body>
        <div class="header">
          <h1><a href="/">logthink.</a></h1>
            <nav>
                <ul>
                    <li><a href="/">MAIN</a></li>
                    <li><a href="/board">BOARD</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/join">JOIN</a></li>
                </ul>
            </nav>
        </div>

        <div class="contents">
        </div>
        
    </body>
</html>
