<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all" />
        <title>Board — logthink</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" >
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum    +Gothic|Questrial|Motserrat" rel="stylesheet">
        <script>
          function btn(){
            alert('회원정보가 수정되었습니다.')
          }
        </script>
        <!-- <script>
          function btn(){
            alert('먼저 로그인 하세요')
          }
        </script> -->
    </head>
    <body class="modified">
        <div class="header">
          <h1><a href="/">logthink.</a></h1>
          {% if name  %}
          <p style="display: inline; color: black; position: absolute; right: 38px; top: 51px; font-size: 15px; font-weight: 600" >{{ name }} 님</p>
           {% endif %}
            <nav>
                <ul>
                    <li><a href="/">MAIN</a></li>
                    <li><a href="/board">BOARD</a></li>
                    {% if name %}
                    <li><a href="/mypage">MY PAGE</a></li>
                    <li><a href="/logout">LOGOUT</a><li>
                    {% else %}
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/join">JOIN</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div class="contents">
          <form action="/modified_chk" method="POST">
          <table class="modified_area">
            <colgroup>
              <col style="width: 15%">
              <col style="width: 85%">
            </colgroup>
              <tr>
                <th scope="col">제 목</th>
                <td scope="col">
                  <input type="text" name="title" size=30 value="{{ data[3] }}">
                </td>
              </tr>
              <tr>
                <th>작성자</th>
                <td style="padding-left: 10px;">{{ data[1] }}</td>
              </tr>
              <tr>
                <th>작성일</th>
                <td style="padding-left: 10px;">{{ data[2] }}</td>
              </tr>
              <tr>
                <td colspan=2 style="height: 250px; vertical-align: top;" >
                  <textarea name="content" rows=15 cols=85>{{ data[4]}}</textarea>
                </td>
              </tr>
              <input type="hidden" name="idx" value="{{ data[0] }}">
          </table>
          <div class="input" >
            {% if name %}
            <input class="left" type="button" value="목록보기" onClick="location.href='/board'">
            <input type="submit" value="완료">
            {% else %}
            <input class="left" type="button" value="목록보기" onClick="location.href='/board'">
            <input type="button" value="수정" onClick="location.href='/login'">
            <input type="button" value="삭제" onClick="location.href='/login'">
            {% endif %}
          </div>
          </form>
        </div>
    </body>
</html>
