d>
  <title>read</title>
  </head>
  <body>
      <br>
        <span align="center"><h1>게시글 확인</h1></span>
          <!-- 게시글 확인 부분  -->
            <table border="1" align="center">    
                  <tr>
                          <th>제목</th><th>a</th>
                              </tr>
                                  <tr>
                                          <th>내용</th><th>a</th>
                                              </tr>
                                                  <tr>
                                                          <th>작성자</th><th>a</th>
                                                              </tr>
                                                                  <tr>
                                                                          <th>날짜</th><th>a</th>
                                                                              </tr>
                                                                                  <tr>
                                                                                          <th>조회수</th><th>a</th>
                                                                                              </tr>
                                                                                                </tr>
            </table>

            <br><br>
            <table align="center">
                <tr><td><button><span><h2><a href="/">등록</a></h2></span></button></td><td><button><span><h2><a href="/">목록보기</a></h2></button></td></tr>
                  </table>

                    <!-- 댓글부분  -->
                      <div>  
                            <table border="1">
                                    <tr>
                                              <td>아이디</td>
                                                      <td>student</td>
                                                              <td>등록일</td>
                                                                      <td>2018-09-18</td>
                                                                              <td>      
                                                                                          <a href="">삭제</a>      
                                                                                                  </td>
                                                                                                        </tr>
                                                                                                              <tr>
                                                                                                                        <td>내용</td>
                                                                                                                                <td>none</td>
                                                                                                                                      </tr>
                                                                                                                                      
                                                                                                                                          </table>
                                                                                                                                              <br>
                                                                                                                                              
                                                                                                                                                  <a href="">다음</a>
                                                                                                                                                  
                                                                                                                                                      <form action="" method="post"> 
                                                                                                                                                              <textarea name=""></textarea>
                                                                                                                                                                    <input type="submit" value="댓글 등록">
                                                                                                                                                                          <input type="hidden" name="commentType" value="">
                                                                                                                                                                                <input type="hidden" name="targetID" value="">
                                                                                                                                                                                    </form>       
                                                                                                                                                                                      </div>
                                                                                                                                                                                      
                                                                                                                                                                                      
  </body>
  </html>
  >
