<style>
#custom_mainBox {
    overflow: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 20px;
}
</style>
<footer class="footer" align="center">
<div id="custom_mainBox" style="background-color:#FFFFFF">
	<hr>
	<b>개발자 SNS</b>
	<li>Git (<a href="https://github.com/namkiseung/Python_website_Flask"><font style="color: blue">바로가기</font></a>)</li>
	<li>instagram (<a href="https://www.instagram.com/"><font style="color: blue">바로가기</font></a>)</li>
	<li>Linkedin (<a href="https://www.linkedin.com/in/nam-kiseung-3676b916a/"><font style="color: blue">바로가기</font></a>)</li>
</div>
</footer>
