<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
	<!-- ls -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>게시판 by namki</title>		
<style type="text/css">
#width_single{
	width: 2pt;
}
.footer {
  height: 50px;
  width: 80%;
  margin-top: -50px;
  margin-left: 10%;
  text-align: left;
}
#wi {	
    width: 100%;
    height: 10%;
    padding: 20px 10px;
    border: none;
    border-radius: 14px;    
}
#bold{
	font-weight: bolder;
	font-size: 20px
}
</style>
</head>
<body style="background-color:#0098FF">{% include 'side_menu.html' %}
	<div id="mainBox" style="background-color:#FFFFFF">
		


						<h1>공지사항 게시판</h1>
	
		<div>
			<table class="table">				
				<thead>				
				<tr>
					<td id="bold" class="middle">번호</td>
					<td id="bold" class="middle">
						작성자
					</td>
					<td id="bold" class="middle" style="width: 560px;">
						제목
					</td>
					<td id="bold" class="middle" style="width: 180px;">
						작성일
					</td>	
					<td id="bold" class="middle" style="width: 180px;">
						조회수
					</td>		 		        	        		        		        
				</tr>
</thead>
<tbody>
				<tr> 

					{% for x in data %}
					<td id="width_single" class="tail" style="text-align: center;"> {{ (length+1) - loop.index}}</td>

					<td class="tail" style="text-align: center;">{{ x[0][1] }}</td>
					<td class="tail"><a href="/read?num={{x[0][0]}}"><b>{{ x[0][2] }} ({{ x[1] }})</b></a></td>   <!-- {{ x[0] }} -->
					<td class="tail" style="text-align: center;">{{ x[0][4] }}</td>
					<td class="tail" style="text-align: center;">{{ x[0][6] }}</td>
				</tbody>
				</tr>{% endfor %}

			</table>
			<br>

			<form action="/list?search=" method="GET"> 
				<input type="button" value="다음" onClick="location.href=''">				
				<!-- <input style="float:right;" type="submit" value="정렬"> -->
			<input style="float:right;" type="submit" value="검색">
				<select name="category" style="display:block;transition:outline 1s;" ontransitionend=alert('flag')>
					<option value="title">제목</option>
  <option value="writer">작성자</option>
</select>
				<input type="text" class="form-control" placeholder="검색어를 입력하세요." value="" name="searchtext" id="selectText">

			
			
				<!-- <input type="hidden" name="studyType" value="">
				<input type="hidden" name="studyID" value="13"> -->
			</form>
		</div><br><br><br>
		
			{% if logon == True %}
			<input type="button" id="wi" value="글쓰기" onClick="location.href='/write'">
			{% endif %}
			<!-- <input type="button" value="메인 화면" onClick="location.href=''"> -->
		</div>
{% include 'footer.html' %}
<br><br><br><br><br><br><br><br>
	</body>
	</html>
