 <br>
 <div id="titleBox">
      <a href="/"><font style="color:white;">namki</font></a>
    </div>

    <div id="navigationBox" style="float: right;">   
      <a href="/about" class="basicButton">소개</a>   
      {% if logon != True %}
      <a href="/login" class="basicButton">로그인</a>
      <a href="/register" class="basicButton">회원가입</a>      
      {% else %}
      <a href="/mypage" class="basicButton">내정보</a>
      <a href="/logout" class="basicButton">로그아웃</a>
      <a href="/conversation" class="basicButton">문의하기</a>
      {% endif %}      
      <a href="/list" class="basicButton">공지사항</a>      
      <a href="/chat" class="basicButton">(채팅준비중)</a>
    </div><br><br><br><br>
    <hr>
