<!DOCTYPE html>
<html lang="ko">
  <head>
<meta charset="utf-8"/>
    <title>Login Page _ By Namki</title>
<script type="text/javascript">
function null_check(){
	var str = document.login
	if(str.user_id.value == '' || str.user_id.value == null){
	alert('공백을 확인하세요');
	str.user_id.value.focus();
	return;
	}else if(str.user_pw.value == '' || str.user_pw.value == null){
	alert('공백을 확인하세요');
	str.user_pw.value.focus();
	return;
	}else{
	document.login.submit();
	}
}
</script>
  </head>
  <body>
    {% if data %}
    <!-- <h2>{{ data }}</h2> -->
      {{ name }}<p>님</p>
      <button><a href="/mypage">내정보</a></button>
      <button><a href="/logout">로그아웃</a></button>
</table>
    {% else %}
    <form action='/' method="POST" name="login">
      ID : <input type="text" name="user_id" placeholder="아이디를 입력하세요."><br> 
      PW : <input type="password" name="user_pw" placeholder="비밀번호를 입력하세요."><br>
    </form>
    <button onclick="null_check()">로그인</button>
    <button><a href="/register">회원가입</a></button>
    {% endif %}
<div id="navbar">
        <ul class="nav">
             <li><a href="#">main</a></li>
             <li><a href="#">menu2</a></li>
             <li><a href="#">menu3</a></li>
         </ul>
    </div>
</body>
</html>

