<!DOCTYPE btml>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
	<title>Admin Page_By Namki</title>
<style type="text/css">
.box{
	color:red;
	font-style:italic; 
	font-weight:bold;
	font-size:16pt;
}
</style>
</head>
<body>
<table border="1">
<h1>관리페이지</h1>
<div id="menuUpBox">
				<a href="/" class="basicButton">홈페이지 돌아가기</a>
				<a href="/manage/main" class="basicButton">공지사항 관리</a>
				<a href="/manage" class="basicButton">회원관리</a>
				<a href="" class="basicButton"></a>
				<a href="" class="basicButton"></a>
				<a href="" class="basicButton">크롤링</a>
			</div>			



<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
</table>
</body>
</html>
