<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
<meta charset="utf-8"/>
<title>MyPage By Namki</title>
<style type="text/css"></style>
</head>
<body>
	<div id="mainBox">
{% include 'side_menu.html' %}
    <span align="center"><h2>Namki_Web 로그인</h2></span><hr>
  </div>

<form action='/mypage' method='POST'>
<table border=1>
<tr><td> 아이디</td><td> {{ update_id }} </td></tr>
<tr><td> 현재 비밀번호</td><td>  </td></tr>
<tr><td>이름</td><td><input type='text' name='name' value=' {{ update_name }}' ></td></tr>
<tr><td>이메일</td><td><input type='text' name='email' value=' {{ update_email }}' ></td></tr><tr><td>휴대폰번호</td><td><input type='text' name='phone' value=' {{ update_phone }}' ></td></tr>
<tr><td colspan='2'><input type='submit' value="제출"></td></tr>
</table>
</form>
<div align="center">
<input type="button" id="wi" value="취소" onClick="location.href='/'">
<input type="button" id="wi" value="회원탈퇴" onClick="location.href='/delete_user'">
</div>

<!-- <div id="navbar">
        <ul class="nav">
             <li><a href="#">home</a></li>
             <li><a href="#">menu2</a></li>
             <li><a href="#">menu3</a></li>
         </ul>
    </div> -->
    {% include 'footer.html' %}
</body>
</html>
