<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>게시판 by namki</title>		
	<style type="text/css">
		#sel_re_id
		{		
			width: 40px;
			height: 6px;
		}
		#sel_re_idinput
		{		
			width: 43px;
			height: 6px;
		}
		#sel_re_content
		{		
			width: 40px;
			height: 6px;
		}
		#sel_re_contentinput
		{		
			width: 200px;
			height: 6px;
		}
		#sel_re_date
		{		
			width: 40px;
			height: 6px;
		}
		#sel_re_dateinput{		
			width: 150px;
			height: 6px;
		}		
		#sel_re_repple{		
			width: 50px;
			height: 6px;
		}
	</style>
</head>
<body>
	<div id="mainBox">
		<div id="titleBox">
			<a href="/">namki</a>
		</div>
		 <div id="navigationBox">      
      {% if logon != True %}
      <a href="/login" class="basicButton">로그인</a>
      <a href="/register" class="basicButton">회원가입</a>      
      {% else %}
      <a href="/mypage" class="basicButton">내정보</a>
      <a href="/logout" class="basicButton">로그아웃</a>
      {% endif %}
      <a href="/list" class="basicButton">공지사항</a>
    </div>
		<hr>				
	</div>
	<div>		
		<table align="center" width="1200"> 
			<tr>
				<td class="head" colspan="3">
					게시글 확인
				</td>
			</tr>			           
			<tr>
				<td class="middle">작성자</td> 
				<td colspan="2" style="background-color: rgba(200, 200, 200, 0.1);">{{search[0][1]}}</td> 
			</tr> 
			<tr> 
				<td class="middle">제목</td> 
				<td colspan="2" style="background-color: rgba(200, 200, 200, 0.1);">{{search[0][2]}}</td> 
			</tr> 
			<tr>
				<td class="middle">조회수</td>
				<td colspan="2" style="background-color: rgba(200, 200, 200, 0.1);">
					{{search[0][6]}}
					<!-- <iframe class="studyIframe" src="" frameborder="0" allowfullscreen></iframe> -->

				</td>		                
			</tr> 	
			<tr>
				<td class="middle">내용</td> 
				<td colspan="2" style="background-color: rgba(200, 200, 200, 0.1);">{{search[0][3]}}</td>		                
			</tr> 		             		            
			<tr>
				<td class="middle">첨부 파일</td>
				<td colspan="2" style="background-color: rgba(200, 200, 200, 0.1);"><b>{{search[0][5]}}</b></a></td>
			</tr> 		            	            
			<tr>
				<td class="middle">등록일</td> 
				<td colspan="2" style="background-color: rgba(200, 200, 200, 0.1);">{{search[0][4]}}</td> 
			</tr>             	           
		</table>
	</div>   
	<div><br>
	
			<!-- ################################################################################################ -->
			<div align="center">
				<form action="/read" method="post"> 
					<textarea name="commentContent" class="studyCommentContent"></textarea><br>
					<input type="submit" value="댓글 등록" align="center">			
					<input type="hidden" name="currentPage" value="{{ currentpage }}">
				</form>	</div>	    
			</div>

		</div>
		<br>
			<table>
				{% for x_re in data_re %}
				<tr>
					<td class="middle" id="sel_re_id"><font size="2pt">아이디</font></td>					
					<td style="background-color: rgba(200, 200, 200, 0.1);" id="sel_re_idinput"><font size="2pt">{{ x_re[2] }}</font></td>
					<td class="middle" id="sel_re_content"><font size="2pt">내용</font></td>
					<td colspan="4" id="sel_re_contentinput" style="background-color: rgba(200, 200, 200, 0.1);"><font size="2pt">{{ x_re[3] }}</font></td>
					<td class="middle" id="sel_re_date"><font size="2pt">등록일</font></td>
					<td id="sel_re_dateinput" style="background-color: rgba(200, 200, 200, 0.1);"><font size="2pt">{{ x_re[4] }}</font></td>
					
					
					<td id="sel_re_repple"><!-- <button>수정</button> -->
			{% if logon == True and user == x_re[2] %}
						<button onclick="location.href='/rep_delete?delnum={{x_re[0]}}&currentpage={{ currentpage }}'">삭제</button>
						{% endif %}<button>댓글</button></td>
				</tr>				
				{% endfor %}
			</table>
			<br>
			
		<div id="blackBox" align="center">	
			<input type="button" value="글쓰기" onClick="location.href='/write'">
			{% if logon == True and user == writerid %}
			<input type="button" value="수정" onClick="location.href='/update?num={{search[0][0]}}'">
			{% endif %}
			<input type="button" value="목록보기" onClick="location.href='/list'">
		</div>



	</body>
	</html>
