<!DOCTYPE html>
<html lang="ko">
  <head>
<meta charset="utf-8"/>
    <title>Register Page _ By Namki</title>
  </head>
  <body>
    <form action='/register' method="POST">
      ID : <input type="text" name="new_id"><br>
      PW : <input type="password" name="new_pw"><br>
      <!-- reword pw : <input type="password" name="new_pw2"><br> -->
      name : <input type="text" name="new_name"><br>
      email : <input type="text" name="new_email"><br>
      phone number : <input type="number" name="new_phone"><br>
      <input type="submit" value="submit">
    </form>
<button><a href='/'>BACK</a></button>
<div id="navbar">
        <ul class="nav">
             <li><a href="#">home</a></li>
             <li><a href="#">menu2</a></li>
             <li><a href="#">menu3</a></li>
         </ul>
    </div>
  </body>
</html>

