<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
<meta charset="utf-8"/>
    <title>Register Page _ By Namki</title>
  </head>
  <body>    
    <div id="mainBox">
    {% include 'side_menu.html' %}
    
    <span align="center"><h2>Namki_Web 회원가입</h2></span><hr>
  </div>
  <div align="center">
    <form action='/register' method="POST" id="register">
      <div id="viewBox">
      ID<br><input type="text" name="new_id" id="new_id"  placeholder="아이디를 입력하세요."><br>
      PW<br><input type="password" name="new_pw" id="new_pw" placeholder="패스워드를 입력하세요."><br>
      <!-- reword pw : <input type="password" name="new_pw2"><br> -->
      name<br><input type="text" name="new_name" id="new_name" placeholder="이름을  입력하세요."><br>
      email<br><input type="text" name="new_email" id="new_email" placeholder="이메일을  입력하세요."><br>
      phone number<br><input type="number" id="new_phone" name="new_phone" placeholder="휴대번호를  입력하세요."><br><br>
<input type="submit" value="가입완료">    
</form>
<input type="button" value="취소" onclick="location.href='/'">    
</div>
</div>


<script>
var t = document.getElementById('register');
t.addEventListener('submit', function(event){
    if(document.getElementById('new_id').value.length === 0){
        alert('빈칸을 확인하세요.');
        event.preventDefault();
    }else if(document.getElementById('new_pw').value.length === 0){
        alert('빈칸을 확인하세요.');
        event.preventDefault();
    }else if(document.getElementById('new_name').value.length === 0){
        alert('빈칸을 확인하세요.');
        event.preventDefault();
    }else if(document.getElementById('new_email').value.length === 0){
        alert('빈칸을 확인하세요.');
        event.preventDefault();
    }else if(document.getElementById('new_phone').value.length === 0){
        alert('빈칸을 확인하세요.');
        event.preventDefault();
    }
});
</script>
{% include 'footer.html' %}
  </body>
</html>

