<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>게시판 by namki</title>		
</head>
<body>
	{% if logon == True and user == writerid %}
	<div id="mainBox">
		<div id="titleBox">
			<a href="/">namki</a>
		</div>
	 <div id="navigationBox">      
      {% if logon != True %}
      <a href="/login" class="basicButton">로그인</a>
      <a href="/register" class="basicButton">회원가입</a>      
      {% else %}
      <a href="/mypage" class="basicButton">내정보</a>
      <a href="/logout" class="basicButton">로그아웃</a>
      <a href="/conversation" class="basicButton">말걸기</a>
      {% endif %}
      <a href="/chat" class="basicButton">채팅하기</a>
      <a href="/list" class="basicButton">공지사항</a>
    </div>
		<hr>				
	</div>


	<form action="/update" method="POST" enctype="multipart/form-data"> 
		<div id="viewBox">
			<table> 						      
				<tr>
					<td colspan="2" class="head">
						글 수정
					</td>
				</tr>
				<tr>
					<td class="middle">아이디</td> 
					<td><b>{{ writerid }}</b></td> 
				</tr> 			        	
				<tr>
					<td class="middle">첨부파일 </td>
					<td><input type="file" name="_file"></td> 
				</tr> 			        	       
				<tr> 
					<td class="middle">제목</td>
					<td><input type="text" name="notitle" value="{{ usertitle }}"></td>
				</tr>
				<tr> 
					<td class="middle">내용</td>
					<td><textarea name="nocontent" class="responsiveTextarea">{{ usercontent }}</textarea></td>
				</tr>			
				<input type="hidden" name="writerid" value="{{ writerid }}">	            
				<input type="hidden" name="textnum" value="{{ textnum }}">	            
			</table>
		</div>
		<div id="blackBox">			
			<a class="blackButton" ><input type="reset" value="다시작성"></a>
			<a class="blackButton" ><input type="submit" value="수정완료"></a>
			<a href="/list" class="blackButton">대화방 목록</a>
			<a href="/delete?num={{ textnum }}" class="blackButton">삭제</a>			
		</div>
	</form>
{% else %}
<script type='text/javascript'>
<!--
	alert('접근 권한이 없습니다.');
location.href='/';
//-->
</script>

{% endif %}
</body>
</html>
