{% include 'header.html' %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/mainStyle.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>게시판 by namki</title>		
</head>
<body>
	<div id="mainBox">
		{% include 'side_menu.html' %}
	</div>


	<form action="/write" method="post" enctype="multipart/form-data"> 
		<div id="viewBox">
			<table> 			      
				<tr>
					<td colspan="2" class="head">
						글쓰기
					</td>
				</tr>
				<tr>
					<td class="middle">아이디</td> 
					<td><b>{{ userid }}</b></td> 
				</tr> 			        	
				<tr>
					<td class="middle">첨부파일 </td>
					<td><input type="file" name="_file"></td> 
				</tr> 			        	       
				<tr> 
					<td class="middle">제목</td>
					<td><input type="text" name="notitle"></td>
				</tr>
				<tr> 
					<td class="middle">내용</td>
					<td><textarea name="nocontent" class="responsiveTextarea"></textarea></td>
				</tr>				            
			</table>
		</div>
		<div id="blackBox">
			<input type="submit" class="blackButton" value="등록">
			<a href="/list" class="blackButton">대화방 목록</a>
		</div>
	</form>

{% include 'footer.html' %}
</body>
</html>
